/* ==============================================
   Variables
   ============================================== */

/* Global themes
   ============================================== */

:root {
	--notification-background-color: #7186ff;
	--border-radius: 9px;

	--background-color: #ffffff;
	--form-background-color: #8f8fca;
	--text-color: #000000;

	--dark-background-color: #1d1d1d;
	--dark-form-background-color: #383852;
	--dark-text-color: #ffffff;
}

[data-theme="dark"] {
	--background-color: var(--dark-background-color);
	--form-background-color: var(--dark-form-background-color);
	--text-color: var(--dark-text-color);
}

[data-theme="system"] {
	@media (prefers-color-scheme: dark) {
		--background-color: var(--dark-background-color);
		--form-background-color: var(--dark-form-background-color);
		--text-color: var(--dark-text-color);
	}
}

/* ==============================================
   Global
   ============================================== */

body {
	font-family: Arial, Helvetica, sans-serif;
	user-select: none;
	margin: 0;
	color: var(--text-color);
	background-color: var(--background-color);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	transition: 200ms;
}

.hidden {
	display: none;
}

/* Buttons
   ============================================== */

#theme_button {
	cursor: pointer;
}

/* ==============================================
   Default HTML elements
   ============================================== */

p,
h1 {
	margin: 0;
}

h1 {
	margin-bottom: 10px;
}

/* ==============================================
   Navbar
   ============================================== */

nav {
	display: flex;
	flex-direction: row;
	gap: 20px;

	a {
		text-decoration: none;
		color: var(--text-color);
	}
}

/* ==============================================
   Notifications
   ============================================== */

.no_script {
	background-color: var(--notification-background-color);
	border-radius: var(--border-radius);
	padding: 10px;
	width: fit-content;
}

.main_notification {
	background-color: var(--notification-background-color);
	width: 250px;
	max-height: 50px;
	padding: 10px;
	border-radius: var(--border-radius);
	position: fixed;
	top: 20px;
	right: 20px;
	text-align: center;
	z-index: 1000;
	overflow: hidden;
}

/* ==============================================
   Pages
   ============================================== */

/* Login/Register/Account page
   ============================================== */

.login_container,
.register_container,
.account_container,
.login_reset_container,
.reset_password_container {
	width: fit-content;
	padding: 20px;
	background-color: var(--form-background-color);
	border-radius: var(--border-radius);
}

.login,
.register,
.account,
.login_reset,
.reset_password {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
